In [1]:
import numpy as np
import pandas as pd

In [2]:
obj=pd.Series(range(3),index=['a','b','c'])

In [3]:
obj

a    0
b    1
c    2
dtype: int64

In [4]:
a=obj.index

In [5]:
a

Index(['a', 'b', 'c'], dtype='object')

In [6]:
obj['b']='d'

In [7]:
obj

a    0
b    d
c    2
dtype: object

In [9]:
a['c']='d'#immutable  Index objects are immutable and thus can’t be modified by the user:

TypeError: Index does not support mutable operations

In [10]:
index = pd.Index(np.arange(3))
obj2 = pd.Series([1.5, -2.5, 0], index=index)
obj2.index is index

True

### Reindexing

In [11]:
obj =pd. Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

In [12]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [13]:
obj2=obj.reindex(['a','b','c','d'])

In [14]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [21]:
obj2=obj.reindex(['a','b','c','d','e'],fill_value=0)

In [22]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

For ordered data like time series, it may be desirable to do some interpolation or filling
of values when reindexing. The method option allows us to do this, using a method such
as ffill which forward fills the values:

In [27]:
obj3 =pd. Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [28]:
obj4=obj3.reindex(range(7),method='ffill')#forward

In [29]:
obj4

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
6    yellow
dtype: object

In [30]:
obj5=obj3.reindex(range(6),method='bfill')#backward

In [31]:
obj5

0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

With DataFrame, reindex can alter either the (row) index, columns, or both. When
passed just a sequence, the rows are reindexed in the result:

In [44]:
frame=pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','c','d'],columns=['one','Two','Three'])

In [45]:
frame

   one  Two  Three
a    0    1      2
c    3    4      5
d    6    7      8

In [46]:
frame2=frame.reindex(['a','b','c','d'])

In [47]:
frame2

   one  Two  Three
a  0.0  1.0    2.0
b  NaN  NaN    NaN
c  3.0  4.0    5.0
d  6.0  7.0    8.0

In [48]:
s = ['a','b','c','d']
frame.reindex(s)

   one  Two  Three
a  0.0  1.0    2.0
b  NaN  NaN    NaN
c  3.0  4.0    5.0
d  6.0  7.0    8.0

### Dropping entries from an axis

In [49]:
obj = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')

In [50]:
obj

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [51]:
new_obj

a    0
b    1
d    3
e    4
dtype: int32

In [53]:
data =pd. DataFrame(np.arange(16).reshape((4, 4)),
index=['a','b','c','d'],
columns=['one', 'two', 'three', 'four'])

In [54]:
new=data.drop(['a','c'])

In [55]:
new

   one  two  three  four
b    4    5      6     7
d   12   13     14    15

In [60]:
new.drop('two',axis=1)

   one  three  four
b    4      6     7
d   12     14    15

In [61]:
new.drop(['three','two'],axis=1)

   one  four
b    4     7
d   12    15

In [62]:
new

   one  two  three  four
b    4    5      6     7
d   12   13     14    15