In [1]:
import numpy as np
import pandas as pd

### Reading

In [2]:
df=pd.read_csv("ex1.csv")

In [3]:
df

   a   b   c   d mesage
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [4]:
df=pd.read_csv("ex1.csv",sep=',')

In [5]:
df

   a   b   c   d mesage
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
df=pd.read_csv("ex1.csv",header=None)

In [7]:
df

   0   1   2   3       4
0  a   b   c   d  mesage
1  1   2   3   4   hello
2  5   6   7   8   world
3  9  10  11  12     foo

In [8]:
df=pd.read_csv("ex1.csv",names=['a','b','c','d','message'])

In [9]:
df

   a   b   c   d message
0  a   b   c   d  mesage
1  1   2   3   4   hello
2  5   6   7   8   world
3  9  10  11  12     foo

In [10]:
names=['a','b','c','d','message']

In [11]:
pd.read_csv('ex1.csv',names=names,index_col='message',nrows=2)

         a  b  c  d
message
mesage   a  b  c  d
hello    1  2  3  4

### Writing

In [14]:
df.to_csv("out.csv")

In [15]:
d=pd.read_csv('out.csv',skiprows=1)
d

   0  a   b   c   d mesage
0  1  1   2   3   4  hello
1  2  5   6   7   8  world
2  3  9  10  11  12    foo

working with delimated formats

In [16]:
import csv

In [17]:
f=open("deli.csv")
reader=csv.reader(f)

In [18]:
for line in reader:
    print(line)

['a', ' "b" ', 'c']
['1', ' "2"', ' "3"']
['1', ' "2"', ' "3"']

### Binary format

One of the easiest ways to store data efficiently in binary format is using Pythonâ€™s builtin pickle serialization. Conveniently, pandas objects all have a save method which
writes the data to disk as a pickle:

In [19]:
frame=pd.read_csv("ex1.csv")

In [20]:
frame

   a   b   c   d mesage
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo