In [1]:
import pandas as pd
import numpy as np

### Unique values,value counts and membership

In [2]:
obj=pd.Series(['a','b','c','a','a','d','b','f'])
obj

0    a
1    b
2    c
3    a
4    a
5    d
6    b
7    f
dtype: object

In [3]:
uniques=obj.unique()
uniques

array(['a', 'b', 'c', 'd', 'f'], dtype=object)

In [4]:
obj.value_counts()

a    3
b    2
d    1
c    1
f    1
dtype: int64

In [5]:
pd.value_counts(obj.values,sort=False)

f    1
a    3
c    1
b    2
d    1
dtype: int64

isin performs a vectorized set membership check and can be useful in filtering
dataset down to subset of values in a Series or column in a DataFrame

In [6]:
obj

0    a
1    b
2    c
3    a
4    a
5    d
6    b
7    f
dtype: object

In [7]:
mask=obj.isin(['a','f'])

In [8]:
mask

0     True
1    False
2    False
3     True
4     True
5    False
6    False
7     True
dtype: bool

In [9]:
obj[mask]

0    a
3    a
4    a
7    f
dtype: object

Related to isin is the Index.get_indexer method,which gives you an index
array from an array of possibly non-distinct values into another array of
distinct values:

In [12]:
to_match=pd.Series(['c','a','b','b','c','a'])
to_match

0    c
1    a
2    b
3    b
4    c
5    a
dtype: object

In [13]:
unique_vals=pd.Series(['c','b','a'])
unique_vals

0    c
1    b
2    a
dtype: object

In [22]:
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2], dtype=int64)

In [15]:
data=pd.DataFrame({'a':[1,3,4,2,4],'b':[2,4,5,1,6],'c':[1,2,1,1,1]})

In [16]:
data

   a  b  c
0  1  2  1
1  3  4  2
2  4  5  1
3  2  1  1
4  4  6  1

In [17]:
data['b'].value_counts()

6    1
5    1
4    1
2    1
1    1
Name: b, dtype: int64

In [18]:
res=data.apply(pd.value_counts).fillna(0)

In [19]:
res

     a    b    c
1  1.0  1.0  4.0
2  1.0  1.0  1.0
3  1.0  0.0  0.0
4  2.0  1.0  0.0
5  0.0  1.0  0.0
6  0.0  1.0  0.0